<h1><%= @stylist.name() %></h1>
<div class="" id="client_display">
  <h3> Here are the current clients this stylist has: <h3>
    <% if @stylist.clients.any?() %>
    <ul>
      <% @stylist.clients.each() do |client| %>
      <li><a href="/clients/<%= client.id() %>"><%= client.name()%></a></li>
      <% end %>
    </ul>
    <% else %>
      <p>None</p>
    <% end %>
  <br> <div class="row">
    <div class="col-md-2">
      <a href="/"><button class="btn" name="home">home</button></a>
    </div>
    <div class="col-md-4">
      <a href="/stylists/<%= @stylist.id() %>/client_management"><button class="btn" name="add_client_to">manage clients for this stylist</button></a>
    </div>
    <div class="col-md-3">
      <a href="/stylists/<%= @stylist.id() %>/edit"><button class="btn" name="update">update stylist</button></a>
    </div>
  </div>
</div>
